/* All Elements */
* {
    margin: 0px;
    padding: 0px;
}

body{
    line-height: 22px;
    font: 17px Times;
}

.content{
    margin: 40px auto 60px;
    width: 805px;
}

img{
    height: 303px;
    width: 290px;
    float: right;
    margin: -30px 0 0 0;
    }

/* name Header */
h1{
    margin: 0 0 17px 0;
    padding: 0 0 17px 0;
    font-size: 43px;
    font-weight: bold;
    letter-spacing: -3px;
    border-bottom: 1px solid rgb(130,129,129);

}

.contact-info{
    margin: 0 0 16px 0;
}

.email-link{
    color:rgb(115, 113, 113);
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

.email-link:hover{
    border-bottom-style: solid;
    color: blue;
}

.objective{
    width: 500px;
    float: left;
    font-family: Helvetica;
    font-style: italic;
    color: #666;
}

.component{
    font-style: italic;
    font-weight: bold;
    font-size:18px;
    text-align: right;
    padding: 0 26px 0 0;
    width: 150px;
    float: left;
    height: 100px;
    border-right: 1px solid rgb(115,113,113);
}

.description{
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
    margin-left: 200px;
}

.date {
    float: right;
    font-style: italic;
    font-family: Arial;
    font-size: 16px;
    color: #998;
    font-weight: normal;
}

.content ul{
    margin: 0 0 32px 17px;
}

.clearfix {
    clear: both;
}